/geometry.xml
/materialMu.mha
/primary.mha
/rayleigh-Squared.mha
/rayleigh-Uncertainty.mha
/rayleigh.mha
/secondary-Squared.mha
/secondary-Uncertainty.mha
/secondary.mha
/stats.txt
/statsMC.txt
/total.mha
/compton-Squared.mha
/compton-Uncertainty.mha
/compton.mha
/detectorMC-Squared.mhd
/detectorMC-Squared.raw
/detectorMC-Uncertainty.mhd
/detectorMC-Uncertainty.raw
/detectorMC-scatter-Squared.mhd
/detectorMC-scatter-Squared.raw
/detectorMC-scatter-Uncertainty.mhd
/detectorMC-scatter-Uncertainty.raw
/detectorMC-scatter.mhd
/detectorMC-scatter.raw
/detectorMC.mhd
/detectorMC.raw
/flatField.mha
/attenuation.mha
