/OpticalSimulation_Reference.root.md5-stamp
/OpticalSimulation_Reference.root
/FLUORESCENCE-STAT.txt
/Fluorescence-ProjectionSet_skin.bin
/Fluorescence-ProjectionSet_skin.hdr
/Fluorescence_skin.root
/BIOLUMINESCENCE-STAT.txt
/Bioluminescence-ProjectionSet_skin.bin
/Bioluminescence-ProjectionSet_skin.hdr
/Bioluminescence_skin.root
