tmp/
*.o
*.so
*.a
gjs
*.swp
/.DS_Store
/.gitignore.save
/.gitignore~
*raw
*~
/save/
GPATH
GRTAGS
GTAGS
*bidon*
*docx
*save*
.vscode
/benchmarks/benchImageNavigators/rt/data/patient-2mm-dmap.mhd
/benchmarks/benchImageNavigators/rt/data/patient-2mm-labeled-RV.mhd
/benchmarks/benchImageNavigators/rt/data/patient-HU2mat.txt
/benchmarks/benchImageNavigators/rt/data/patient-HUmaterials.db
benchmarks/benchImageNavigators/rt/output/*mhd
benchmarks/benchImageNavigators/rt/output/*raw
/benchmarks/benchImageNavigators/rt/output/physics.txt
/benchmarks/benchImageNavigators/rt/output/stat-photon-RV1.txt
/Makefile
/benchmarks/benchImageNavigators/rt/data/Segmentation4.mhd
/benchmarks/benchSPECT/gate.hdr
/benchmarks/benchSPECT/gate.sin
/benchmarks/benchSPECT/benchSPECT.root
/benchmarks/benchRT/output/graph_ouput.root
source/externals/itk-mhd/src/tests/