*~
/CMakeCache.txt
/CMakeFiles
/ExternalData
/GateExampleData_config.cmake
/Makefile
/cmake_install.cmake
/CMakeLists.txt.user
.SyncArchive
.SyncID
.SyncIgnore
benchmarks/benchImageNavigators
benchmarks/benchRT/resultat
examples/example_Hybrid
examples/example_dosimetry/brachytherapy/data/roi.*
examples/example_dosimetry/electron_radiotherapy/output
results.*
run.*
examples/example_dosimetry/external-beam-therapy-photon/data/roi.*
