/patient-2mm-dmap.mhd
/patient-2mm-dmap.raw
/patient-2mm-labeled-NPV.hdr
/patient-2mm-labeled-NPV.img
/patient-2mm-labeled-RV.mhd
/patient-2mm-labeled-RV.raw
/patient-2mm.raw
/patient-2mm.raw.md5-stamp
/patient-HU2mat.txt
/patient-HUmaterials.db
